.headermain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #0b3c55;

    .header_logo{

    }
    .header_heading{

        h1{
            color: #fff;
        }
    }
}